<!-- <ngx-one-column-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet></router-outlet>
</ngx-one-column-layout> -->

<nb-layout>
  <nb-layout-column>
    <div class="page-layout">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav w20" mode="side"
          [ngClass]="menuToggle == false ? 'sideMenuIcon' : ''">
          <div>
            <nav class="navList">
              <ul class="main-h-list">
                <li class="t-c logo-sec">
                  <img src="assets/img/sideLogo.png" class="w50">
                </li>
                <ng-container *ngFor="let link of navLinks; let i=index">
                  <li routerLinkActive="active-menu" class="nav__item ripple">
                    <a [routerLink]="link.path" class="a-menu" *ngIf="!link?.subitems">
                      <mat-icon class="menu-icon">{{link.icon}}</mat-icon>
                      <span class="underline-closing link-name" *ngIf="menuToggle">{{link.name}}</span>
                    </a>
                    <a class="a-menu" *ngIf="link?.subitems" style="position: relative;" (click)="subMenuSelect(link)">
                      <mat-icon class="menu-icon">{{link.icon}}</mat-icon>
                      <span class="underline-closing link-name" *ngIf="menuToggle">{{link.name}}</span>
                      <mat-icon *ngIf="!link?.drop && menuToggle">
                        keyboard_arrow_right</mat-icon>
                      <mat-icon *ngIf="link?.drop && menuToggle">
                        keyboard_arrow_down</mat-icon>
                    </a>
                  </li>
                  <div *ngIf="link?.subitems && link?.drop == true && menuToggle">
                    <ng-container *ngFor="let sub of link.subitems">
                      <li routerLinkActive="active-menu1" class="nav__item ripple" *ngIf="sub?.path">
                        <a [routerLink]="sub?.path" class="a-menu1">
                          <mat-icon class="menu-icon1">{{sub?.icon}}</mat-icon>
                          <span class="underline-closing link-name">{{sub?.name}}</span>
                        </a>
                      </li>
                    </ng-container>
                  </div>
                </ng-container>
              </ul>
            </nav>
          </div>
        </mat-drawer>

        <div class="example-sidenav-content" [ngClass]="menuToggle == false ? 'bodyContent' : ''">
          <div class="header-sec df-b-b">
            <div class="w10">
              <mat-icon (click)="drawer.toggle(); menuToggle = !menuToggle" class="c-p">menu</mat-icon>
            </div>
            <div class="df-c-fe w80 header-menu-txt">
              <div *ngFor="let h of headerMenu">
                <p class="right header-item c-p"><a>{{h?.name}}</a></p>
              </div>
            </div>
            <div class="w15 df-ab c-p" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"
              (click)="menuTrigger.openMenu()">
              <div class="w20">
                <img src="" onError="this.src='assets/img/user2.png'" class="w80">
              </div>
              <div class="user-name df">{{userDetails?.name | uppercase}}
                <span>
                  <mat-icon>expand_more</mat-icon>
                </span>
              </div>
            </div>


            <div class="w10">
              <img src="assets/img/support.png" class="w20 c-p">
              <!-- <div>Contact</div> -->
            </div>





          </div>
          <div class="data-cnt">
            <router-outlet></router-outlet>
          </div>
        </div>

      </mat-drawer-container>
    </div>


  </nb-layout-column>
</nb-layout>



<div>
  <mat-menu #menu="matMenu" class="profile-menu-sec">
    <button mat-menu-item *ngFor="let p of profileMenu" (click)="profileAction(p)">
      <mat-icon>{{p?.icon}}</mat-icon>
      <span>{{p?.name}}</span>
    </button>
  </mat-menu>
</div>
