<nb-layout>

  <nb-layout-column class="app-layout-column">
    <div class="loginPage">
      <div class="login-bg df-c-jc">
        <nb-card class="t-c">
          <div class="logo-sec"><img src="assets/img/logo2.png" class="w40"></div>
          <div class="des-txt">SIGN IN</div>
          <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="loginForm.valid && login()">
            <div class="input-fld">
              <input type="text" placeholder="Email" nbInput formControlName="email"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="w100">
            </div>
            <div class="input-fld df-c-jc">
              <nb-form-field class="w100">
                <input [type]="cView === true ? 'text' : 'password'" placeholder="Password" nbInput
                  formControlName="password" class="w100">
                <mat-icon nbSuffix *ngIf="cView == true" (click)="cView = !cView" class="c-p">visibility</mat-icon>
                <mat-icon nbSuffix *ngIf="cView == false" (click)="cView = !cView" class="c-p">visibility_off
                </mat-icon>
              </nb-form-field>
            </div>
            <div>
              <button nbButton class="sign-btn">SIGN IN</button>
            </div>
            <!-- <div class="forgot-txt"> Forgot Password ? </div> -->
          </form>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>

</nb-layout>
