<nb-layout>
  <nb-layout-column class="app-layout-column">
    <div class="data-table" [hidden]="showCompany == false">
      <nb-card>
        <div class="df-b-b table-name-header">
          <div class="table-title">Company List</div>
          <div class="df-b-fe w50 search-add-sec">
            <div class="search-input">
              <mat-form-field floatLabel="never">
                <input matInput (keyup)="applyFilter($event)" placeholder="Search.....">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div class="a-s-e ref-btn">
              <mat-icon class="df-c-jc c-p" (click)="refreshCompany()">refresh</mat-icon>
            </div>
          </div>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        <div class="table-card">
          <div class="table-sec">
            <table mat-table [dataSource]="companyList" matSort style="width: 100%;">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                <td mat-cell *matCellDef="let row" (click)="viewDomain(row)"> {{row?.scompanyname | titlecase}} </td>
              </ng-container>
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain </th>
                <td mat-cell *matCellDef="let row"> {{row?.url}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <span (click)="viewDomain(row)" class="c-p">
                    <mat-icon matTooltip="View">visibility</mat-icon>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <div *ngIf="companyList?.length === 0" class="nodataFound">
              <p class="nodataError">
                ** No data found **
              </p>
            </div>


          </div>
        </div>
      </nb-card>
    </div>



    <div [hidden]='showCompany == true'>


      <div class="back-arrow" *ngIf="userDetails.idendifier !== 'CUSTOMER'">
        <mat-icon matTooltip="Back" class="c-p" (click)="back('company')">arrow_back</mat-icon>
      </div>


      <div class="analyse-profile">
        <mat-card class="profile-details">
          <div class="company-name" *ngIf="userDetails.idendifier !== 'CUSTOMER'">{{domain?.scompanyname | titlecase}}
          </div>
          <div class="company-name" *ngIf="userDetails.idendifier == 'CUSTOMER'">
            {{pspCustomerDetails?.customerid?.scompanyname | titlecase}}
          </div>
          <div class="df-ac contact-detail">
            <div class="df-ac c-info">
              <div>
                <mat-icon class="df-c-jc">person</mat-icon>
              </div>
              <div>Developer</div>
            </div>
            <div class="df-ac c-info">
              <div>
                <mat-icon class="df-c-jc">place</mat-icon>
              </div>
              <div>{{profileData?.address?.city | titlecase}}</div>
            </div>
            <div class="df-ac c-info">
              <div>
                <mat-icon class="df-c-jc">alternate_email</mat-icon>
              </div>
              <div>{{profileData?.contect?.customer_contact_primary_email}}</div>
            </div>
          </div>


          <div class="df-ac">
            <div class="df-ac w70 count-sec">
              <div class="count-cnt" *ngFor="let c of contList">
                <div class="count-item">
                  <div class="count">{{c?.count}}</div>
                  <div class="count-txt">{{c?.name}}</div>
                </div>
              </div>
            </div>
            <div class="w30 progress-sec">
              <div class="df-fe-b progress-name">
                <div class="pro-title">Profile Completion</div>
                <div class="pro-count">50%</div>
              </div>
              <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            </div>
          </div>


          <div class="tab-sec df-ac">
            <div *ngFor="let t of tabName" class="tab-item c-p" (click)="selectAnalyseTab(t)"
              [ngStyle]="{'color': t?.status == true ? '#ff4a00' : '#a1a8be', 'border-bottom' : t?.status == true? '2px solid #ff4a00' : 'unset'}">
              <div>{{t?.name | uppercase}}</div>
            </div>
          </div>

        </mat-card>
      </div>



      <div class="company-profile-sec" *ngIf="currentTab == 'SUMMARY'">
        <div class="t-c"><img src="assets/img/underConstruction.png" class="w35"></div>
      </div>

      <div class="company-profile-sec" *ngIf="currentTab == 'TECH VENDORS'">
        <div class="t-c"><img src="assets/img/underConstruction.png" class="w35"></div>
      </div>

      <div class="compliance-sec" *ngIf="currentTab == 'COMPLIANCE STATUS'">
        <mat-card>
          <div class="user-view-page">
            <form [formGroup]="complianceForm" #f="ngForm" class="form-sec"
              (ngSubmit)="complianceForm.valid && onboardCustomer()" autocomplete="off">
              <div class="data-input">
                <div class="df-ac f-w pb-1">
                  <div class="w33">
                    <div class="form-lable-name">3rd Party Certifications & Attestations</div>
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="certificate" multiple
                        placeholder="3rd Party Certifications & Attestations">
                        <mat-option *ngFor="let p of partyCertification" [value]="p">
                          {{p}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="w33">
                    <div class="form-lable-name">Standards followed</div>
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="standards" placeholder="Standards followed" multiple>
                        <mat-option *ngFor="let s of standards" [value]="s">
                          {{s}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="w33">
                    <div class="form-lable-name">Designated Information Security Officer?</div>
                    <mat-radio-group formControlName="securityOfficer">
                      <mat-radio-button value="1">YES</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-card>



      </div>

      <div class="company-profile-sec" *ngIf="currentTab == 'AI&ML'">
        <div class="t-c"><img src="assets/img/underConstruction.png" class="w35"></div>
      </div>

      <div class="company-profile-sec" [hidden]="currentTab !== 'COMPANY PROFILE'">

        <ngx-company-profile></ngx-company-profile>

        <!-- <div class="w25 profile-details">
          <mat-card>
            <div class="line-bg"></div>
            <div class="t-c">
              <div class="role">
                <span>PSP ADMIN</span>
              </div>
              <div><img src="" onError="this.src='assets/img/user2.png'" class="w40"></div>
              <div class="p-name">{{profileData?.scompanyname | titlecase}}</div>
              <div class="p-email df-c-jc">
                <span>
                  <mat-icon class="df-c-jc">mail_outline</mat-icon>
                </span>
                {{profileData?.contect?.customer_contact_primary_email}}
              </div>
            </div>
          </mat-card>
        </div> -->
        <!-- <div class="profile-basic-info">
          <mat-card>

            <div class="df-c-b profile-title">
              <div class="c-info"><span>Company Info:</span></div>
              <div><button mat-raised-button (click)="addRequest('Edit Customer')">EDIT</button></div>
            </div>


            <div class="stepper df-c-a">
              <div class="w10 df-c-jc c-p" (click)="stepControl(1)">
                <div class="step-title" [ngStyle]="{'background': step == 1 ? '#ff4a00' : '#242939'}">
                  <span>1</span>
                </div>
              </div>
              <div class="w35 line-sec"></div>
              <div class="w10 df-c-jc c-p" (click)="stepControl(2)">
                <div class="step-title" [ngStyle]="{'background': step == 2 ? '#ff4a00' : '#242939'}">
                  <span>2</span>
                </div>
              </div>
              <div class="w35 line-sec"></div>
              <div class="w10 df-c-jc c-p" (click)="stepControl(3)">
                <div class="step-title" [ngStyle]="{'background': step == 3 ? '#ff4a00' : '#242939'}">
                  <span>3</span>
                </div>
              </div>
            </div>


            <div *ngIf="step == 1" class="stepper-Item">

              <div class="df">

                <div class="w50">
                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Company Name</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.scompanyname | titlecase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Company Type</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.scompanytype | titlecase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Business Unit</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.sbusinessunti}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">No. of Employee</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.snumofemployee}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Public Traded Comp</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.ispublictradedcomp}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Government Owned</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isgovowned}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Annual Revenue</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.dannualrevenue}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">SaaS Platform</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.issaasappplatform | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">CISO Present</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.iscisopresent | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Security Team Member</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.noofsectemmember | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Chief Privacy Officer</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.ischeifprivacyofficer | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">HIPAA Officer</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.ishipaaofficer | uppercase}}</div>
                  </div>
                </div>

                <div class="w50">
                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Risk Officer</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isriskofficer | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Security Operating Team</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.issecopsteam | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">US Presence</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isuspresence | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">EMEA Presence</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isemeapresence | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">APAC Presence</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isapacpresence | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">LATM Presence</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.islatmpresence | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">CHINA Presence</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.ischinapresence | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">PSP Account Executive</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.ipspacctexec}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Risk Team</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.isriskTeam | uppercase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Website Link</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.website_url}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Account Start Date</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.accountstartdate | date:'dd-MM-YY'}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Account End Date</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.accountenddate | date:'dd-MM-YY'}}</div>
                  </div>
                </div>

              </div>


              <div class="submit-btn setper-btn">
                <button mat-raised-button type="button" (click)="pageNavigation('next', 2)">Next</button>
              </div>

            </div>


            <div [hidden]="step !== 2" class="stepper-Item">
              <ngx-customer-address [addressList]="customerAddressList"></ngx-customer-address>
              <div class="submit-btn setper-btn">
                <button mat-raised-button type="button" (click)="pageNavigation('back', 1)">Back</button>
                <button mat-raised-button type="button" (click)="pageNavigation('next', 3)">Next</button>
              </div>
            </div>


            <div *ngIf="step == 3" class="stepper-Item">

              <div class="df">

                <div class="w50">
                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Contact Name(primary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contect_primary_name | titlecase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Contact Name(secondary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contect_secondary_name | titlecase}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">contact no.(primary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_primary}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">contact no.(secondary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_secondary}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Email(primary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_primary_email}}</div>
                  </div>
                </div>

                <div class="w50">
                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Email(secondary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_secondary_email}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Telephone(primary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_primary_phone}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Telephone(secondary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_secondary_phone}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Designation(primary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_primary_designation}}</div>
                  </div>

                  <div class="profile-item df-ac">
                    <div class="w50 p-lable">Designation(secondary)</div>
                    <div class="w2">:</div>
                    <div class="w45 p-value">{{profileData?.contect?.customer_contact_secondary_designation}}</div>
                  </div>
                </div>

              </div>

              <div class="submit-btn setper-btn">
                <button mat-raised-button type="button" (click)="pageNavigation('back', 2)">Back</button>
              </div>

            </div>

          </mat-card>
        </div> -->
      </div>

      <div class="privacy-status-sec" *ngIf="currentTab == 'PRIVACY STATUS'">
        <mat-card>
          <div class="df-ac f-w">
            <div *ngFor="let p of privacyStatus" class="privacy-item"
              [ngClass]="p?.lable == 'Select the scope' ? 'w50' : 'w33'">
              <div *ngIf="p?.status == true">
                <div class="radio-lable">{{p?.lable}}</div>
                <div>
                  <mat-radio-group (change)="radioChange($event, p)" *ngIf="p?.lable !== 'Select the scope'">
                    <mat-radio-button value="1">YES</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                  <mat-radio-group (change)="radioChange($event, p)" *ngIf="p?.lable == 'Select the scope'">
                    <mat-radio-button value="1">Covered Entity(CE)</mat-radio-button>
                    <mat-radio-button value="2">Business Associate(BA)</mat-radio-button>
                    <mat-radio-button value="3">Both</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>



      <!-- *ngIf="currentTab == 'SUB DOMAIN'" -->
      <div class="sub-domain-sec" [hidden]="currentTab !== 'SUB DOMAIN'">
        <div class="data-table" [hidden]="showDomain == false">
          <nb-card>
            <div class="df-b-b table-name-header">
              <div class="table-title" *ngIf="userDetails.idendifier !== 'CUSTOMER'">
                {{domain?.scompanyname | titlecase}}</div>
              <div class="table-title" *ngIf="userDetails.idendifier == 'CUSTOMER'">
                {{pspCustomerDetails?.customerid?.scompanyname | titlecase}}
              </div>
              <div class="df-b-fe w50 search-add-sec">
                <div class="search-input">
                  <mat-form-field floatLabel="never">
                    <input matInput (keyup)="applyFilterSub($event)" placeholder="Search.....">
                  </mat-form-field>
                </div>
                <div>
                </div>
                <div class="a-s-e ref-btn">
                  <mat-icon class="df-c-jc c-p" (click)="refreshDomain()">refresh</mat-icon>
                </div>
              </div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            <div class="table-card">
              <div class="table-sec">
                <table mat-table [dataSource]="domainList" matSort style="width: 100%;">
                  <ng-container matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
                    <td mat-cell *matCellDef="let row"> {{row?.url}} </td>
                  </ng-container>
                  <ng-container matColumnDef="test">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Test SSL </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="dot-sec" [ngStyle]="{'background': row?.testssl == 1 ? '#3DBE29' : '#E21717'}"
                        [matTooltip]="row?.testssl == 1 ? 'Testssl output found' : 'Testssl not found'"></div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="cve">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CVE List </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="dot-sec" [ngStyle]="{'background': row?.cve_lists == 0 ? '#3DBE29' : '#E21717'}"
                        [matTooltip]="row?.cve_lists == 1 ? 'Vulnerability found' : 'Vulnerability not found'"></div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <span (click)="viewsubdomaininfo(row)" class="c-p">
                        <mat-icon matTooltip="View">visibility</mat-icon>
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSub; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSub;">
                  </tr>
                </table>

                <div *ngIf="domainList?.length === 0" class="nodataFound">
                  <p class="nodataError">
                    ** No data found **
                  </p>
                </div>
              </div>
            </div>
          </nb-card>
        </div>

        <div class="data-table" [hidden]='showDomain == true'>
          <nb-card>
            <div class="back-arrow">
              <mat-icon matTooltip="Back" class="c-p" (click)="back('domain')">arrow_back</mat-icon>
            </div>
            <div class="df-b-b table-name-header">
              <div class="table-title">{{subDomain?.url | titlecase}}</div>
              <div class="df-b-fe w50 search-add-sec">
                <div class="search-input">
                  <mat-form-field floatLabel="never">
                    <input matInput (keyup)="applyFilterSub($event)" placeholder="Search.....">
                  </mat-form-field>
                </div>
                <div>
                </div>
                <div class="a-s-e ref-btn">
                  <mat-icon class="df-c-jc c-p" (click)="viewsubdomaininfo(subDomain)">refresh</mat-icon>
                </div>
              </div>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            <div class="table-card">
              <div class="table-sec">
                <table mat-table [dataSource]="subDomainList" matSort style="width: 100%;">
                  <ng-container matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
                    <td mat-cell *matCellDef="let row"> {{subDomain?.url}} </td>
                  </ng-container>
                  <ng-container matColumnDef="test">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Test SSL </th>
                    <td mat-cell *matCellDef="let row">
                      <span (click)="testdomain(row?.testssl_output)" class="c-p">
                        <mat-icon matTooltip="Test SSL">info</mat-icon>
                      </span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="cve">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CVE List </th>
                    <td mat-cell *matCellDef="let row">
                      <span (click)="cvelist(row?.cve_list)" class="c-p">
                        <mat-icon matTooltip="CVE">info</mat-icon>
                      </span>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSubdomain; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSubdomain;">
                  </tr>
                </table>

                <div *ngIf="subDomainList?.length === 0" class="nodataFound">
                  <p class="nodataError">
                    ** No data found **
                  </p>
                </div>

              </div>
            </div>
          </nb-card>
        </div>

      </div>

    </div>
  </nb-layout-column>
</nb-layout>
