<nb-card>
    <nb-card-body>
  
      <nb-tabset>
        <nb-tab tabTitle="Summary">
          <!-- <p>List of <strong>Summary</strong>.</p> -->
          <nb-card>
            <nb-card-body class="summary">
              <img  src="assets/PSP/under_cons.gif">
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Orders">
          <!-- <p>List of <strong>Basic Info</strong>.</p> -->
          <nb-card>
            <nb-card-body>
              <div class="oredrs">
              <nb-user name="Pravin" title="PSP Admin"></nb-user>
              <button  class="add-but" nbButton  hero status="info">Edit Profile</button>
              </div>
<div class="horiz">
  <hr>
</div>
<div class="basicinfo">
<div class="bleft">
      <div class="bbleft">
        <div class="left-por">
          <div class="head-tit">
            <span>Customer Name:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>

        <div class="left-por">
          <div class="head-tit">
            <span>HQ Location:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>

        <div class="left-por">
          <div class="head-tit">
            <span>State:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>
      </div>
      <div class="bbright">
        <div class="left-por">
          <div class="head-tit">
            <span>Corporate Website:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>

        <div class="left-por">
          <div class="head-tit">
            <span>City:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>

        <div class="left-por">
          <div class="head-tit">
            <span>Country:</span>
          </div>
          <div class="cont-con">
            <span>Pravin</span>
          </div>
        </div>
       
      </div>
</div>

<div class="main-liner">
  <div class="ver-lin"></div>
</div>
  <div class="bright">
    <div class="bbleft">
      <div class="left-por">
        <div class="head-tit">
          <span>CISO:</span>
        </div>
        <div class="cont-con">
          <span>Pravin</span>
        </div>
      </div>

      <div class="left-por">
        <div class="head-tit">
          <span>Number of Emp:</span>
        </div>
        <div class="cont-con">
          <span>Pravin</span>
        </div>
      </div>

      <div class="left-por">
        <div class="head-tit">
          <span>HIPAA Risk Officer:</span>
        </div>
        <div class="cont-con">
          <span>Pravin</span>
        </div>
      </div>
    </div>
    <div class="bbright">
      <div class="left-por">
        <div class="head-tit">
          <span>Industry:</span>
        </div>
        <div class="cont-con">
          <span>Pravin</span>
        </div>
      </div>

      <div class="left-por">
        <div class="head-tit">
          <span>Privacy Officer:</span>
        </div>
        <div class="cont-con">
          <span>Pravin</span>
        </div>
      </div>

 
     
    </div>
  </div>

</div>
        </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Tech Vendors" >
          <nb-card>
            <nb-card-body class="summary">
              <img  src="assets/PSP/under_cons.gif">
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Sub Domains" >
          <nb-card>
            <nb-card-body>
<h2>DOMAIN ANALYZER</h2>
<div class="domIN">
  <div class="inputt">
  <input type="Website URL" nbInput fullWidth status="info" placeholder="Info">
  </div>
  <div class="buttn">
    <button  class="add-but" nbButton  hero status="info">Submit</button>
    </div>
</div>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="Complaince Status" >
        </nb-tab>
        <nb-tab tabTitle="Privacy Status" >
        </nb-tab>
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>
