<nb-card>
    <nb-card-body>
  
      <nb-tabset>
        <nb-tab tabTitle="Summary">
          <p>List of <strong>Summary</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Orders">
          <p>List of <strong>Basic Info</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Tech Vendors" >
        </nb-tab>
        <nb-tab tabTitle="Sub Domains" >
        </nb-tab>
        <nb-tab tabTitle="Complaince Status" >
        </nb-tab>
        <nb-tab tabTitle="Privacy Status" >
        </nb-tab>
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>
