.app-layout-column {
  background: #fafafa !important;
}

.changePassword-page {
  .reset-title {
    font-weight: 600;
  }
  .data-input {
    padding: 15px 40px;
  }
  .input-sec {
    padding-bottom: 15px;
  }
  mat-icon {
    font-size: 20px;
  }
  .pswcheck {
    padding: 15px 2px 0;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
  }
  .submit-btn button {
    width: 50% !important;
  }
}
