<!-- <div class="analyse-profile">
  <mat-card class="profile-details">
    <div class="company-name">Max Smith</div>
    <div class="df-ac contact-detail">
      <div class="df-ac c-info">
        <div>
          <mat-icon class="df-c-jc">person</mat-icon>
        </div>
        <div>Developer</div>
      </div>
      <div class="df-ac c-info">
        <div>
          <mat-icon class="df-c-jc">place</mat-icon>
        </div>
        <div>Chennai</div>
      </div>
      <div class="df-ac c-info">
        <div>
          <mat-icon class="df-c-jc">alternate_email</mat-icon>
        </div>
        <div>jai@gmail.com</div>
      </div>
    </div>


    <div class="df-ac">
      <div class="df-ac w70 count-sec">
        <div class="count-cnt" *ngFor="let c of contList">
          <div class="count-item">
            <div class="count">{{c?.count}}</div>
            <div class="count-txt">{{c?.name}}</div>
          </div>
        </div>
      </div>
      <div class="w30 progress-sec">
        <div class="df-fe-b progress-name">
          <div class="pro-title">Profile Compleation</div>
          <div class="pro-count">50%</div>
        </div>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
    </div>


    <div class="tab-sec df-ac">
      <div *ngFor="let t of tabName" class="tab-item c-p" (click)="selectAnalyseTab(t)"
        [ngStyle]="{'color': t?.status == true ? '#ff4a00' : '#a1a8be', 'border-bottom' : t?.status == true? '2px solid #ff4a00' : 'unset'}">
        <div>{{t?.name | uppercase}}</div>
      </div>
    </div>

  </mat-card>
</div>



<div class="company-profile-sec" *ngIf="currentTab == 'COMPANY PROFILE'">

  <div class="w25 profile-details">
    <mat-card>
      <div class="line-bg"></div>
      <div class="t-c">
        <div class="role"><span>PSP ADMIN</span></div>
        <div><img src="" onError="this.src='assets/img/user2.png'" class="w40"></div>
        <div class="p-name">Jayasree</div>
        <div class="p-email df-c-jc">
          <span>
            <mat-icon class="df-c-jc">mail_outline</mat-icon>
          </span>
          jai@gmail.com
        </div>
      </div>
    </mat-card>
  </div>
  <div class="w70 profile-basic-info">
    <mat-card>

      <div class="c-info"><span>Company Info:</span></div>

      <div class="profile-item df-ac">
        <div class="w35 p-lable">Customer Name</div>
        <div class="w5">:</div>
        <div class="w60 p-value">Jayasree</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">Corporate Website</div>
        <div class="w5">:</div>
        <div class="w60 p-value">mailpsl.com</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">HQ Location</div>
        <div class="w5">:</div>
        <div class="w60 p-value">Redwood Shores, California, USA</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">CISO</div>
        <div class="w5">:</div>
        <div class="w60 p-value">YES</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">Industry</div>
        <div class="w5">:</div>
        <div class="w60 p-value">Phantom</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">Information Security Officer</div>
        <div class="w5">:</div>
        <div class="w60 p-value">YES</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">Number of Emp</div>
        <div class="w5">:</div>
        <div class="w60 p-value">25</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">Privacy Officer</div>
        <div class="w5">:</div>
        <div class="w60 p-value">YES</div>
      </div>
      <div class="profile-item df-ac">
        <div class="w35 p-lable">HIPAA Risk Officer</div>
        <div class="w5">:</div>
        <div class="w60 p-value">YES</div>
      </div>
    </mat-card>
  </div>
</div>




<div class="privacy-status-sec" *ngIf="currentTab == 'PRIVACY STATUS'">
  <mat-card>
    <div class="df-ac f-w">
      <div *ngFor="let p of privacyStatus" class="w33 privacy-item">
        <div *ngIf="p?.status == true">
          <div class="radio-lable">{{p?.lable}}</div>
          <div>
            <mat-radio-group (change)="radioChange($event, p)">
              <mat-radio-button value="1">YES</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div> -->




<div class="t-c pt-40"><img src="assets/img/underConstruction.png" class="w35"></div>
