<nb-layout>
  <nb-layout-column class="app-layout-column">
    <div class="loginPage">
      <div class="login-bg df-c-jc">
        <nb-card class="t-c">
          <div class="logo-sec"><img src="assets/img/logo2.png" class="w30"></div>
          <div class="des-txt">Reset Password</div>

          <div class="pswcheck">At least 10 characters long with 1 uppercase 1 lowercase 1 special character</div>

          <form [formGroup]="resetPasswordForm" autocomplete="off" #f="ngForm"
            (ngSubmit)="resetPasswordForm.valid && resetPassword()">


            <div class="input-fld df-c-jc f-d">
              <nb-form-field class="w100">
                <input [type]="cView === true ? 'text' : 'password'" placeholder="Current Password" nbInput
                  formControlName="currentPwd" class="w100">
                <mat-icon nbSuffix *ngIf="cView == true" (click)="cView = !cView" class="c-p">visibility</mat-icon>
                <mat-icon nbSuffix *ngIf="cView == false" (click)="cView = !cView" class="c-p">visibility_off
                </mat-icon>
              </nb-form-field>
              <div class="error-text"
                *ngIf="(resetPasswordForm.controls.currentPwd.touched || f.submitted) && resetPasswordForm.controls.currentPwd.errors?.required">
                Current is Required!
              </div>
            </div>

            <div class="input-fld df-c-jc f-d">
              <nb-form-field class="w100">
                <input [type]="nView === true ? 'text' : 'password'" placeholder="New Password" nbInput
                  formControlName="newPwd" class="w100"
                  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{10,}$">
                <mat-icon nbSuffix *ngIf="nView == true" (click)="nView = !nView" class="c-p">visibility</mat-icon>
                <mat-icon nbSuffix *ngIf="nView == false" (click)="nView = !nView" class="c-p">visibility_off
                </mat-icon>
              </nb-form-field>
              <div class="error-text"
                *ngIf="(resetPasswordForm.controls.newPwd.touched || f.submitted) && resetPasswordForm.controls.newPwd.errors?.required">
                New Password is Required!
              </div>
              <div class="error-text"
                *ngIf="f.submitted && resetPasswordForm.controls.newPwd.invalid && resetPasswordForm.controls.newPwd.value !== ''">
                Invalid New Password!
              </div>
            </div>

            <div class="input-fld df-c-jc f-d">
              <nb-form-field class="w100">
                <input [type]="conView === true ? 'text' : 'password'" placeholder="Confirm Password" nbInput
                  formControlName="confirmPwd" class="w100"
                  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{10,}$">
                <mat-icon nbSuffix *ngIf="conView == true" (click)="conView = !conView" class="c-p">visibility
                </mat-icon>
                <mat-icon nbSuffix *ngIf="conView == false" (click)="conView = !conView" class="c-p">visibility_off
                </mat-icon>
              </nb-form-field>
              <div class="error-text"
                *ngIf="(resetPasswordForm.controls.confirmPwd.touched || f.submitted) && resetPasswordForm.controls.confirmPwd.errors?.required">
                Confirm Password is Required!
              </div>
              <div class="error-text"
                *ngIf="f.submitted && resetPasswordForm.controls.confirmPwd.invalid && resetPasswordForm.controls.confirmPwd.value !== ''">
                Invalid Confirm Password!
              </div>
            </div>


            <div>
              <button nbButton class="sign-btn">Reset Password</button>
            </div>

            <div class="forgot-txt c-p"><span routerLink="/auth/login">SIGN IN</span></div>

          </form>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
