@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  .nb-theme-default nb-menu .menu-item a:hover .menu-icon {
    color: #000000;
  }

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};



// Loader
.preloader {
  //background-color: #f7f7f7;
  background-color: #0009;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
 // opacity: 0.9;
}

.preloader .preloader-circle {
  width: 100px;
  height: 113px;  //100
  position: relative;
  border-style: solid;
  border-width: 10px; //3
  border-top-color: #ff5e00c2;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #232020 ;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-circle2 {
  border-top-color: #ff5e00c2;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-img img {
 // max-width: 55px;
}

.preloader .pere-text strong {
  font-weight: 800;
  color: #ff5e00c2;
  text-transform: uppercase;
}


.bg {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: Open Sans, sans-serif !important;
}

.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}

.flex-wrap {
  flex-wrap: wrap;
}

.df-ac {
  display: flex !important;
  align-items: center;
}

.df-ac1 {
  display: flex;
  align-items: flex-start;
}

.df-c-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.df-c-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.df-c-fe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.df-c-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-p {
  cursor: pointer;
}

.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w55 {
  width: 55%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
