<div class="colored-line"></div>
<mat-toolbar class="dialog-header">
  <div class="df-c-b w100">
    <div class="dialog-title">{{data?.name | titlecase}}</div>
    <div>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-dialog-content class="dialog-content">
  <div class="user-view-page">
    <form [formGroup]="userForm" #f="ngForm" (ngSubmit)="userForm.valid && onboardUser()" autocomplete="off"
      class="form-sec">

      <div class="data-input">
        <div class="df-ac f-w pb-1">
          <div class="w33">
            <div class="form-lable-name">User Name</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="sname" placeholder="User Name">
            </mat-form-field>
          </div>
          <div class="w33">
            <div class="form-lable-name">Mobile No.</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="icontectnumber" placeholder="Mobile No." maxlength="10" minlength="10"
                pattern="(^0$)|(^[1-9]\d{0,9}$)">
            </mat-form-field>
          </div>
          <div class="w33">
            <div class="form-lable-name">Email</div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="semailid" placeholder="Email"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </mat-form-field>
          </div>
        </div>

        <div class="df-ac f-w pb-1">
          <div class="w33">
            <div class="form-lable-name">User Group</div>
            <mat-form-field appearance="outline">
              <mat-select formControlName="group" placeholder="User Group">
                <mat-option *ngFor="let g of groupList" [value]="g?.iid">
                  {{g?.susergroupname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="w33" *ngIf="data?.name !== 'Add User'">
            <mat-checkbox formControlName="accountLock">Lock Account</mat-checkbox>
          </div>
          <div class="w33" *ngIf="data?.name !== 'Add User'">
            <mat-checkbox formControlName="resetpass">Reset Password</mat-checkbox>
          </div>
        </div>
      </div>



      <div class="submit-btn t-c" *ngIf="data?.name !== 'View User'">
        <button type="submit" mat-raised-button>Submit</button>
      </div>


    </form>
  </div>
</mat-dialog-content>
